<div class="jumbotron">
    <h4 class="text-center">  <strong>WELCOME TO TO-DO APP</strong></h4>
</div>

<div class="input-group">
    <input type="text" placeholder="Add your activity....."  class="form-control" #activityTitle>
    <div class="input-group-addon hover-cursor" (click)="onAdd(activityTitle)">
        <button type="button" class="btn btn-light">SEND</button>
    </div>
</div>

<div class="card">
<div class="list-group">
    <div class="list-group-activity" *ngFor="let activity of toDoArray">


            <div [class.text-success]="activity.isMarked" (click)="alterMarked(activity.$key,activity.isMarked)">
                    <input  type="radio" [ngClass]="activity.isMarked?'fa-check-circle-o':'fa-circle-thin'" value="activity"><i appStrikethrough>{{activity.activity}} </i><br>
                    
                        <strong>
                        </strong>
                        <br>
                        <h6>{{ date | date }}</h6>
                  </div>






<span class="hover-cursor text-danger pull-right">
            <button type="button" style="width: 100%;" class="btn btn-light" (click)="onDelete(activity.$key)">Add Trash</button>
</span>
    </div>
</div>
</div>

